# ignore netbeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
nbproject/
manifest.mf
build.xml

# ignore IntelliJ project files
.idea/
GameOfLife.iml
out/
