# ignore netbeans IDE project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
nbproject/
manifest.mf
build.xml

# ignore IntelliJ IDE project files
.idea/
GameOfLife.iml
out/

#ignore Eclipse IDE project files
.classpath
.project
.settings/
bin/
